#js-dashboard-changelog {
	#changelog-accordion {
		.entry-header {
			cursor: pointer;
			padding: 8px 28px 8px 10px;
			margin: 0;
			font-weight: 600;
			border: 1px solid #dcdcde;
			border-radius: 3px;
			background: #f6f7f7;
			position: relative;

			&:not(:first-child) {
				margin-top: 4px;
			}

			&.ui-state-active {
				background: #fff;
				border-bottom-color: transparent;
				border-radius: 3px 3px 0 0;
			}

			&::after {
				content: "\f140";
				font-family: dashicons;
				position: absolute;
				right: 8px;
				top: 50%;
				transform: translateY(-50%);
				color: #787c82;
				font-size: 20px;
				line-height: 1;
			}

			&.ui-state-active::after {
				content: "\f142";
			}
		}

		.entry {
			border: 1px solid #dcdcde;
			border-top: none;
			border-radius: 0 0 3px 3px;
			padding: 10px;
			margin-bottom: 4px;

			h3 {
				font-weight: 600;
			}

			.version {
				float: right;
				margin-top: -16px;
			}

			ul {
				list-style: disc;
				padding-left: 20px;
				margin: 0 0 1em 0;
			}
		}
	}
}
